/* Holds the OpenDyslexic Font [https://github.com/antijingoist/opendyslexic]*/ 
@font-face { 
    font-family: 'OpenDyslexic';
    src: url('./assets/fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  :root {
    --app-font-family: 'OpenDyslexic', 'Roboto', sans-serif;
  }
  body {
    font-family: var(--app-font-family);
  }
  